#download > .qrcode img {
    width: 240px;
}

#download > .button img {
    width: 208px;
    margin: 16px;
    margin-bottom: 0;
}


.contentgroup {
    text-align: justify;
/*    padding-top: 10px;*/
/*    */
/*    display: flex;*/
/*    align-items: start;*/
/*    justify-content: space-between;*/
/*    flex-direction: row-reverse;*/
}
.contentgroup > img {
    width: 390px;
    max-width: 100%;
    margin-bottom: 20px;
/*    margin-top: 20px;*/
/*    margin-right: 40px;*/
}
.contentgroup + .contentgroup {
    padding-top: 30px;
}

#maincontent > section + section {
    margin-top: 60px;
}
